{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> {% block title %} Naits Online Voting | IT-Innovators {% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'icon/favicon.ico' %}">

    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">
      <header style="margin-bottom: 5em">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"> NAITS online Voting | IT-Innovators </a>
            </div>
            <div class="navbar-collapse" id="menu">
              <ul class="nav navbar-nav">
                <li><a href="">Discussion</a></li>
                <li><a href="{% url 'all_students_page' %}">Students</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              	{% if user.is_authenticated %}
                <li>
                  <a>{{ request.user }}<small>
                    {% if request.user.first_name %}
                   ({{ request.user.first_name }}
                   {% endif %}
                   {% if request.user.last_name %}
                    {{ request.user.last_name }}) </small>
                    {% endif %}
                  </a>
              </li>
                {% else %} 
                <li>
                  <a>You must login in order to cast your vote &raquo</a>
              </li>
                  <li>
                  <a class="fa fa-unlock" href="{% url 'login' %}" title="you must login to vote"> Login</a>
                </li>
              </ul>
                {% endif %}
                <li class="dropdown">
                  <a href="#" style="float: right;" class="dropdown-toggle fa fa-bars" data-toggle="dropdown"><b></b></a>
                  <ul style="float: right;" class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li title="{{ user.ID_Number }}">
                  		<a href="{% url 'profile' user.id%}">
                  		<small class="fa-stack fa-lg small">
                    	<i class="fa fa-circle fa-stack-2x"></i>
                    	<i class="fa fa fa-lock fa-stack-1x fa-inverse"></i>
                  		</small>
                  		{{ user }}
                		</a>
              		</li>
              		<li class="divider"></li>
              		<li title="{{ user }}">
                  		<a href="{% url 'profile' user.id%}">
                  		<small class="fa-stack fa-lg small">
                    	<i class="fa fa-circle fa-stack-2x"></i>
                    	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
                  		</small>
                  		Profile
                		</a>
              		</li>
                  {% endif %}
                  <li class="divider"></li>
                   <li title="Follow me on twitter">
                      <a href="https://twitter.com/abdulrasheeed1">
                      <small class="fa-stack fa-lg small">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </small>
                      Follow me on twiiter
                    </a>
                </li>
                  <li title="Follow me on facebook">
                      <a href="https://facebook.com/abdulrasheed.ibrahim.457">
                      <small class="fa-stack fa-lg small">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                      </small>
                      Follow me on facebook 
                    </a>
                  </li>
                  <li title="Follow me on github">
                      <a href="https://github.com/abdoulrasheed/">
                      <small class="fa-stack fa-lg small">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </small>
                      Fork me on Github
                    </a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="divider"></li>
                  <li title="logout from naits voting">
                      <a href="{% url 'logout' %}">
                      <small class="fa-stack fa-lg small">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-unlock fa-stack-1x fa-inverse"></i>
                      </small>
                      Log out
                    </a>
                  </li>
                    {% else %}
                    <li title="login to naits voting">
                  		<a href="{% url 'login' %}">
                  		<small class="fa-stack fa-lg small">
                    	<i class="fa fa-circle fa-stack-2x"></i>
                    	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
                  		</small>
                  		Login
                		</a>
              		</li>
                    {% endif %}
                  </ul>
                </li>
            </div>
          </div>
        </nav>
      </header>
<div style="margin-bottom: 10em" class="page-header">
    <h1>Nait <small>Online Voting</small></h1>
</div>
</div>
{% block vote_content %}
  
{% endblock %}
</body>
</html>