{% extends 'naits/base.html' %}
{% block title %} office of {{ office.office }} {% endblock %}
{% block vote_content %}

<div class="container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-line-chart"></span> {{ office.office }}</h3>
                <br>
                <p>Choose Your {{ office.office }}</p>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                	{% if error_message %}
            <p style="color: red; text-align: center;">
                <strong>
                    {{ error_message }} for {{ office }}
                </strong>
            </p>{% endif %}
                	<form action="{% url 'vote' office.id %}" method="post">
					{% csrf_token %}
						{% for aspirants in office.aspirant_set.all %}
						<li class="list-group-item">
						<div class="checkbox">
						<label for="aspirants{{ forloop.counter }}">
    					<input type="radio" name="aspirants" id="aspirants{{ forloop.counter }}" value="{{ aspirants.id }}" />
    					{{ aspirants.first_name }} {{ aspirants.last_name }}
    					{% if aspirants.nick_name %} 
    					<b style="color: lightblue">A-K-A</b> 
    					{{ aspirants.nick_name}} 
    				{% endif %}</label>
    				</div>
    			</li>
					{% endfor %}
					<div class="panel-footer text-center">
						<input type="submit" value="Vote" class="btn btn-primary btn-block btn-sm"/>
					</div>
					</form>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        margin-top: 20px;
    }

    .panel-body:not(.two-col) {
        padding: 0px;
    }

    .glyphicon {
        margin-right: 5px;
    }

    .glyphicon-new-window {
        margin-left: 5px;
    }

    .panel-body .radio, .panel-body .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .panel-body .list-group {
        margin-bottom: 0;
    }

    .margin-bottom-none {
        margin-bottom: 0;
    }

    .panel-body .radio label, .panel-body .checkbox label {
        display: block;
    }
</style>
{% endblock %}