{% extends 'naits/base.html' %}
{% load i18n static %}

{% block title %} NAIT Online Voting {% endblock %}
    
{% block vote_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <!-- Content -->
    <div id="content-main">
        <caption class="btn btn-danger">
            <p>{% if user.is_anonymous %}You must be logged in to vote! {% else %} Select office below {% endif %}</p>
        </caption>
        {% if user.is_authenticated %}
        <div class="app-voting module">
            <table>
            {% for office in latest_poll_list %}
            <tr class="model-office">
                <th scope="col" ><a href="{% url 'detail' office.id %}">&rsaquo; {{ office.office }}</a></th>
            </tr>
            {% empty %}
            <th scope="row">{% trans 'No office Added' %}</th>
            {% endfor %}
        </table>
        <br>
        <div class="col-md-12">
            {% include 'pagination/paginator.html' with paginator=users %}
        </div>
        </div>
        {% endif %}
    </div>
<!-- END Container -->
{% endblock vote_content %}