{% extends 'naits/base.html' %}
{% load staticfiles %}

{% block title %} Students | NAIT ONLINE VOTING {% endblock %}

  <link href="{% static 'css/network.css' %}" rel="stylesheet">

{% block vote_content %}
  <div style="margin-top: 5em;" class="page-header">
    <br>
    <h2 class="box"><p class="fa fa-users"></p> Students </h2>
  </div>
  <div class="users">

    <div class="row">
      {% for student in students %}
        <div class="col-md-4">
          <div class="panel panel-default simple-box">
          	<a href="{% url 'profile' student.id %}">
            <div class="panel-heading">
              {% if student.profile_picture %}
              <img src="{{ student.profile_picture.url }}" style="width:35px; border-radius: 100px;">
              {% else %}
              <img alt="image" src="{% static 'img/img_avatar.png' %}" style="width:35px; border-radius: 100px;">
              {% endif %}
              <span class="pull-right" title="click to view {{ student.ID_Number }} profile">
              {{ student.ID_Number }}
          	  </span>
            </div>
            </a>
            <div class="panel-body">
              <p><strong class="badge badge-primary">ID number</strong> <span class="pull-right">
              {{ student.ID_Number }}</span></p>
                <p><strong class="badge badge-info">Level:</strong> <span class="pull-right">
              {{ student.level }}</span></p>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-12">
        {% include 'pagination/paginator.html' with paginator=users %}
      </div>
    </div>

  </div>
  
{% endblock vote_content %}
