{% extends 'naits/base.html' %}
{% load staticfiles %}

{% block title %} Students | NAIT ONLINE VOTING {% endblock %}

  <link href="{% static 'css/network.css' %}" rel="stylesheet">

{% block vote_content %}
  <div style="margin-top: 5em;" class="page-header">
    <br>
    <h2 class="box"><p class="fa fa-users"></p> Students</h2>
  </div>
  <div class="users">

    <div class="row">
      {% for student in students %}
        <div class="col-md-4">
          <div class="panel panel-default simple-box">
            <div class="panel-heading">
              {% if student.profile_picture %}
              <img src="{{ student.profile_picture.url }}" style="width:25px">
              {% else %}
              <img src="{% static 'img/img_avatar.png' %}" style="width:20px">
              {% endif %}
              <a title="click to view {{ student.ID_Number }} profile" href="{% url 'profile' student.id %}">{{ student.ID_Number }}</a>
            </div>
            <div class="panel-body">
              <p><strong>ID number</strong> {{ student.ID_Number }}</p>
                <p><strong>Level:</strong> {{ student.level }}</p>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-12">
        {% include 'pagination/paginator.html' with paginator=users %}
      </div>
    </div>

  </div>
  
{% endblock vote_content %}
