{% extends 'artbase.html' %}
{% load staticfiles i18n %}

{% block title %} Excos {% endblock %}

{% block head %}
  <link href="{% static 'css/network.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Excos' %}</li>
  </ol>

    <div class="row">
      {% for exco in excos %}
        <div class="col-md-5">
          <div class="panel panel-default simple-box">
          	<a href="{% url 'profile' exco.id %}">
            <div class="panel-heading">
              <span title="click to view nait {{ exco.position }}'s profile">
              {{ exco.get_short_name|upper }}
          	  </span>
            </div>
            </a>
            <div class="panel-body">
              <div style="display: inline-block;">
                <img src="{{ exco.get_picture }}" style="width:155px; border-radius: 10px;">
              </div>
              <div style="display: inline-block; float: right; vertical-align: top">
                {% if exco.position %}
              <p>
                <font class="btn disabled btn-info" style="width: 220px; background-color: green">{{ exco.position }}
                </font>
              </p>
              {% endif %}
              {% if exco.mobile %}
              <p>
                <a style="width: 220px" class="btn btn-default fa fa-phone" href="tel: {{ exco.mobile }}"> {{ exco.mobile }}</a>
              </p>
              {% endif %}
              {% if exco.email_address %}
              <p>
                <a style="width: 220px" class="btn btn-default fa fa-briefcase" href="mailto: {{ exco.email_address }}">
                  <small>{{ exco.email_address|truncatechars:35 }}</small></a>
              </p>
              {% endif %}
              <a href="{% url 'messages' exco.id %}" class="btn btn-primary" style="width: 220px">Send Message</a>
            </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
          {% empty %}
          <div class="row">
              <h3 style="text-align: center;">No executive added</h3>
          </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-12">
        {% include 'pagination/paginator.html' with paginator=users %}
      </div>
    </div>
  
{% endblock main %}

{% block sitebar %}
{% endblock %}