{% extends 'base.html' %}
{% load i18n static %}

{% block title %} {{ office.office }} Aspirants {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock head %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<div id="container">
    <h1 class="text-center">Choose Your {{ office.office }}</h1>

    <div id="content-main">
        {% if error_message %}
        <center>
            <span class="btn btn-danger text-center">{{ error_message }} {% trans 'for' %} {{ office }}</span>
        </center>
        {% endif %}
        <div class="module filtered" id="changelist">

            <form id="changelist-form" action="{% url 'vote' office.id %}" method="post">
                {% csrf_token %}
                {% for aspirant in office.aspirant_set.all %}
                <table>
                <div class="checkbox">
                    <thead>
                        <td class="text-center" style="cursor: pointer;">
                        <label for="aspirant{{ forloop.counter }}" style="cursor: pointer;">
                        	
                        	<input style="float: left;" class="action-checkbox" type="radio" size="60" name="aspirants" id="aspirant{{ forloop.counter }}" value="{{ aspirant.id }}" />
                            
                            <p style="font-size: 20px">
                            {{ aspirant.first_name|upper }} {{ aspirant.last_name|upper }},

                            {% if aspirant.nick_name %} 
                        	</p>
                        	
                           <small class="btn">{% trans 'Also known as' %}</small> 

                            {{ aspirant.nick_name|upper }} 

                        {% endif %}
                    </label>
                    </td>
                </thead>
                </div>
            </table>
                {% empty %}
                	<p class="text-center">{% trans 'No Aspirant Added' %}</p>
                {% endfor %}
                <div class="actions wio">
                <button type="submit" class="button" title="Click to vote your selection" name="index" value="0">
                {% trans 'Vote' %}
                </button>
                </div>
                <p class="paginator"></p>
            </form>
    </div>
  </div>
</div>
{% endblock %}