{% extends 'base.html' %}
{% load i18n static %}

{% block title %} {{ office.office }} Aspirants {% endblock %}

{% block vote_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<div id="container">
    <h1>Choose Your {{ office.office }}</h1>

    <div id="content-main">
        {% if error_message %}
            <li class="btn btn-danger">{{ error_message }} {% trans 'for' %} {{ office }}</li>
        {% endif %}
        <div class="module filtered" id="changelist">

            <form id="changelist-form" action="{% url 'vote' office.id %}" method="post">
                {% csrf_token %}
                {% for aspirant in office.aspirant_set.all %}
                <table>
                <div class="checkbox">
                    <thead>
                        <td class="text-center">
                        <label for="aspirant{{ forloop.counter }}">
                            
                            <input style="float: left;" class="action-checkbox" type="radio" size="60" name="aspirants" 
                            id="aspirant{{ forloop.counter }}" value="{{ aspirant.id }}" />
                            {{ aspirant.first_name }} {{ aspirant.last_name }},

                            {% if aspirant.nick_name %} 

                           <small class="">{% trans 'A-K-A' %}</small> 

                            {{ aspirant.nick_name}} 

                        {% endif %}
                    </label>
                    </td>
                </thead>
                </div>
            </table>
                {% empty %}
                {% trans 'No Aspirant Added' %}
                {% endfor %}
                <div class="actions wio">
                <button type="submit" class="button" title="Click to vote your selection" name="index" value="0">
                {% trans 'Vote' %}
                </button>
                </div>
                <p class="paginator"></p>
            </form>
    </div>
  </div>
</div>
{% endblock %}