{% extends 'naits/base.html' %}
{% block title %} Change {{ request.user }} Password {% endblock %}

{% block vote_content %}
  <div class="row" style="margin-top: 6em; margin-left: 0.10em; margin-right: 0.10em; margin-bottom: 0.10em">
  	<div class="col-md-3">
      <div style="width: 150px; height: 40px" class="panel panel-heading">
      <p class="fa fa-user"> Change Password </p>
      </div>
      {% include 'account/includes/partial_settings_menu.html' with active='password' %}
    </div>	
    <div class="col-md-9">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <form role="form" method="post" >
        {% csrf_token %}
        {{ form.id }}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-9">
              {{ field }}
              {% if field.help_text %}
                <span class="help-block">{{ field.help_text|safe }}</span>
              {% endif %}
              {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary pull-right"> Save </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock vote_content %}

{% block sitebar %}
{% endblock %}