{% extends 'naits/base.html' %}
{% load staticfiles %} 
{% block title %} {{ request.user }} | Profile {% endblock %} 

{% block vote_content %}
<div style="margin-top: 6em; margin-left: 0.10em; margin-right: 0.10em; margin-bottom: 0.10em" class="users">

    <div class="row" style="margin-top: 2em; margin-left: 0.10em; margin-right: 0.10em; margin-bottom: 0.10em">
        <div class="col-md-3">
            {% include 'account/partial_settings_menu.html' with active='profile' %}
        </div>
        <div class="col-md-4">
          <h4>
            {% if student_data == request.user %}
            <p class="box fa fa-user"> My profile {{ user }}</p> {% else %} {% if students_data.first_name %}
            <p class="box fa fa-user"> {{ student_data.ID_Number }} ({{ student_data.first_name }}) Profile </p> {% else %}
            <p class="box fa fa-user"> {{ student_data.ID_Number }} Profile</p> {% endif %} {% endif %}
          </h4>
            <div class="panel panel-default simple-box">
                <div class="panel-heading">
                    {% if student_data.first_name %}
                    <a href="">{{ student_data.ID_Number }} ( {{ student_data.first_name }} )</a> {% else %}
                    <a href="">{{ student_data.ID_Number }}</a> {% endif %}
                </div>
                {% if student_data.profile_picture %}
                <img class="img-responsive" src="{{ student_data.profile_picture.url }}"> {% else %}
                <img class="img-responsive" src="{% static 'img/img_avatar.png' %}"> {% endif %}
                <div class="panel-body">
                    <p class="fa fa-user"><strong> ID number : </strong> {{ student_data }}</p><br>
                    {% if student_data.hall_of_residence %}
                    <p class="fa fa-map-marker"><strong> Hall of residence :</strong> {{ student_data.hall_of_residence }}</p><br>
                    {% endif %} {% if student_data.first_name %}
                    <p class="fa fa-address-book form-control-static"><strong> first name :</strong> {{ student_data.first_name }}</p><br> {% endif %} {% if student_data.last_name %}
                    <p class="fa fa-address-book"><strong> last name :</strong> {{ student_data.last_name }}</p><br> {% endif %}
                    <p class="fa fa-graduation-cap"><strong> level :</strong> {{ student_data.level }}</p><br> {% if student_data.is_active %}
                    <p class="fa fa-sort"><strong> Authorized to vote: </strong> <span class="fa fa-check"></span> </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

</div>
{% endblock vote_content %}