{% extends 'naits/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ page_user.get_screen_name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
  <link href="{% static 'css/top_tiles.css' %}" rel="stylesheet">
  <script src="{% static 'js/feeds.js' %}"></script>
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
{% endblock head %}

{% block vote_content %}
<br>
<br>
  <div class="page-header">
    <h1>{{ page_user.get_screen_name }} {% if page_user.get_full_name %}<small>({{ page_user.ID_Number }})</small>{% endif %}</h1>
  </div>
  <div class="profile">
    <div class="row tile_count">
      <!-- Data tiles -->
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-envelope"></i> Messages</span>
        <div class="count">{{ msg }}</div>
      </div>
      <!-- /data tiles -->
    </div>
    <div class="row">
      <!--Profile tile-->
      <div class="col-md-3 user-profile">
        <img src="{{ page_user.get_picture }}" class="picture">
        <ul>
            <li><span class="glyphicon glyphicon-briefcase"></span> {{ page_user.level }}</li>
          {% if page_user.state_of_origin %}
            <li><span class="glyphicon glyphicon-map-marker"></span> {{ page_user.state_of_origin }}</li>
          {% endif %}
        </ul>
      </div>
      <!--Profile tile-->
      <!--Bar graphic chart-->
      <div class="col-md-9">
          <ul class="nav nav-pills">
            {% if page_user.mobile or page_user.email or page_user.hall_of_residence %}
            <li class="active"><a  href="#1b" data-toggle="tab">Contact</a></li>
            {% elif page_user.ID_Number == request.user.ID_Number %}
            <li class=""><a  href="{% url 'edit_profile' %}">Update Profile</a></li>
            {% endif %}
            <li><a href="#2b" data-toggle="tab">Last Login</a></li>
            <li><a href="#3b" data-toggle="tab">Membership</a></li>
            {% if page_user.facbook_id or page_user.twitter_handler or page_user.instagram or page_user.pinterest %}
            <li><a href="#4b" data-toggle="tab">Connect</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="1b">
              <ul class="stream">
                {% if page_user.email %}
            	<li class="btn btn-info" style="width: 300px">
            		<span class="glyphicon glyphicon-send"></span>
            		<a href="mailto:{{ page_user.email }}">{{ page_user.email }}</a>
            	</li><br>
          		{% endif %}
          		</ul>
          		<ul>
          		{% if page_user.mobile %}
            	<li class="btn btn-info" style="width: 200px">
            		<span class="glyphicon glyphicon-phone"></span>
            		<a href="tel:{{ page_user.mobile }}">{{ page_user.mobile }}</a>
            	</li>
          		{% endif %}
          		</ul>
          		<ul>
				      {% if page_user.hall_of_residence %}
            	<li class="btn btn-info disabled" style="width: 200px">
            		<span class="glyphicon glyphicon-map"></span>
            		<a>{{ page_user.hall_of_residence }}</a>
            	</li>
          		{% endif %}
              </ul>
				      <ul>
				      {% if page_user.state_of_origin %}
            	<li class="btn btn-info disabled" style="width: 200px">
            		<span class="glyphicon glyphicon-map"></span>
            		<a>{{ page_user.state_of_origin }}</a>
            	</li>
          		{% endif %}
              </ul>
            </div>
            <div class="tab-pane" id="2b">
              <p>
              	{{ page_user.last_login }}
              </p>
              <p class="btn btn-danger">
              	currently online
              </p>
            </div>
            {% if page_user.is_active %}
            <div class="tab-pane" id="3b">
              <span class="badge badge-info">IS ALLOW TO VOTE : {% if user.is_active %} Yes {% endif %}</span>
            </div>
            {% endif %}
            <div class="tab-pane" id="4b">
              <li>
                {% if page_user.facebook_id %}
              <ul>
                <a class="btn btn-info fa fa-facebook" href="https://facebook.com/{{ page_user.facebook_id }}">
                 Connect with {{ page_user.get_short_name }} on facebook</a>
              </ul>
              {% endif %}
              {% if page_user.instagram %}
              <ul>
                <a class="btn btn-info fa fa-instagram" href="https://instagram.com/{{ page_user.instagram }}">
                 Connect with {{ page_user.get_short_name }} on Instagram</a>
              </ul>
              {% endif %}
              {% if page_user.twitter_handler %}
              <ul>
                <a class="btn btn-info fa fa-twitter" href="https://twitter.com/{{ page_user.twitter }}">
                 Connect with {{ page_user.get_short_name }} on Twitter</a>
              </ul>
              {% endif %}
              {% if page_user.pinterest %}
              <ul>
                <a class="btn btn-info fa fa-pinterest" href="https://pinterest.com/{{ page_user.pinterest }}">
                 Connect with {{ page_user.get_short_name }} on pinterest</a>
              </ul>
              {% endif %}
            </li>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock vote_content %}
