<!DOCTYPE html>
<html>
<head>
	<title>Bio Data</title>
</head>
<body>
<script type="text/javascript">
	var fname = prompt("Please enter your firstname");
	var lname = prompt("Please enter your lastname");
	var nick_name = prompt("Do you have a nickname ?")
	var phone = prompt("What is your phone number");
	var email = prompt("Enter Your Email");
	var age = prompt("Please enter your age");
	var program = prompt("What program are you in ? eg Diploma");
	var department = prompt("Please enter your department");
	var level = prompt("What Level are you ?");
	var state = prompt("Enter your State");	

	var a = [fname, lname, nick_name, phone, email, age, program, department, level, state]
	document.write(a.split())
</script>
</body>
</html>