{% extends 'naits/base.html' %}
{% block title %} Nait | login {% endblock %}
{% block vote_content %}
{% if user.is_authenticated %}
<a href="{% url 'index' %}">Home</a>
{% else %}

<div style="margin-top: 10em" class="container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-line-chart"></span>Login to vote</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                  {% if form.non_field_errors %}
      				{% for error in form.non_field_errors %}
        				<div class="alert alert-danger alert-dismissable">
         				 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          			{{ error }}
        		</div>
      				{% endfor %}
    			  {% endif %}
                  <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
            <li class="list-group-item">
              {{ form.username.label_tag }}
            <div class="checkbox">
            {{ form.username}}
            </div>
            {{ form.password.label_tag }}
            <div class="checkbox">
              {{ form.password }}
            </div>
            <div class="control-group">
                
                <p></p>
                <p class="help-block text-danger"></p>
            </div>
          </li>
          <div class="panel-footer text-center">
            <button type="submit" class="login btn btn-default">Login</button>
          </div>
          </form>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        margin-top: 20px;
    }

    .panel-body:not(.two-col) {
        padding: 0px;
    }

    .glyphicon {
        margin-right: 5px;
    }

    .glyphicon-new-window {
        margin-left: 5px;
    }

    .panel-body .radio, .panel-body .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .panel-body .list-group {
        margin-bottom: 0;
    }

    .margin-bottom-none {
        margin-bottom: 0;
    }

    .panel-body .radio label, .panel-body .checkbox label {
        display: block;
    }
</style>
{% endif %}
{% endblock %}
